<nav
  class="navbar navbar-expand-sm navbar-light"
  style="background-color: #fcb103;"
>
  <button
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarMenu"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">PizzaShap</a>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>
