.welcome-jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-buffer {
  margin-left: 10px;
  margin-right: 10px;
}

.card-border {
  border-color: #fcb103;
  border-width: 5px;
}

.pizza-emoji {
  font-size: 40px;
}
