<div class="jumbotron welcome-jumbotron">
  <h1 class="display-4">The PizzaShap</h1>
  <p class="lead">
    Welcome to the PizzaShap. We have the best pizza in town. Join us and see
    what pizza we have offer you. Only members can view our secret pizza menu.
  </p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/menu" role="button">View Menu</a>
  </p>
</div>

<div class="row justify-content-center row-buffer">
  <!-- If user isn't logged in, show login and sign up cards -->
  <div *ngIf="!currentUser" class="col-4">
    <div class="card card-border">
      <div class="card-body text-center">
        <h5 class="card-title">Welcome Back</h5>
        <p class="card-text">
          Log back in and get ordering!
        </p>
        <a href="/login" class="card-link">Login</a>
      </div>
    </div>
  </div>
  <div *ngIf="!currentUser" class="col-4">
    <div class="card card-border">
      <div class="card-body text-center">
        <h5 class="card-title">Join Us</h5>
        <p class="card-text">
          Sign up and order some pizza!
        </p>
        <a href="/signup" class="card-link">Sign Up</a>
      </div>
    </div>
  </div>
  <!-- Only displayed is a user is logged in -->
  <div *ngIf="currentUser" class="col-8">
    <div class="card card-border">
      <div class="card-body text-center">
        <h5 class="card-title">
          Welcome Back <span>{{ currentUser.firstName }}</span>
        </h5>
        <p class="card-text">
          Go to your profile or get ordering some pizza!
        </p>
        <span class="pizza-emoji">🍕</span>
        <a href="/profile" class="card-link">Profile</a>
        <a href="/menu" class="card-link">To our menu</a>
      </div>
    </div>
  </div>
</div>
