<div class="jumbotron">
  <h1 class="display-4">Simple. Elegant. Awesome.</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
  </p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<div class="row justify-content-center row-buffer">
  <div class="col-4">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title
        </p>
        <a href="/login" class="card-link">Login</a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title
        </p>
        <a href="/signup" class="card-link">Sign Up</a>
      </div>
    </div>
  </div>
</div>
