<div class="row justify-content-center row-buffer">
  <div class="col-3">
    <div class="card card-border">
      <div class="card-body text-center">
        <h5 class="card-title">Menu Item 1</h5>
        <p class="card-text">
          Some quick example text to build on the card title
        </p>
        <a href="/order" class="card-link">Order</a>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card card-border">
      <div class="card-body text-center">
        <h5 class="card-title">Menu Item 2</h5>
        <p class="card-text">
          Some quick example text to build on the card title
        </p>
        <a href="/order" class="card-link">Order</a>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card card-border">
      <div class="card-body text-center">
        <h5 class="card-title">Menu Item 3</h5>
        <p class="card-text">
          Some quick example text to build on the card title
        </p>
        <a href="/order" class="card-link">Order</a>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card card-border">
      <div class="card-body text-center">
        <h5 class="card-title">Menu Item 4</h5>
        <p class="card-text">
          Some quick example text to build on the card title
        </p>
        <a href="/order" class="card-link">Order</a>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card card-border">
      <div class="card-body text-center">
        <h5 class="card-title">Menu Item 5</h5>
        <p class="card-text">
          Some quick example text to build on the card title
        </p>
        <a href="/order" class="card-link">Order</a>
      </div>
    </div>
  </div>
</div>
