.item-button {
  grid-area: button;
  justify-self: center;
}

#fetch-button {
  background-color: #4caf50;
  color: #ffffff;
  opacity: 0.75;
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  font-size: 15px;
  transition-duration: 0.3s;
  cursor: pointer;
}

#fetch-button:hover {
  opacity: 1;
}

.item-customer > p,
.customer-address > p,
div > p {
  font-size: 25px;
  color: #ffffff;
}

#customer-search-id {
  grid-area: button;
  padding: 5px 5px;
  margin: 5px 5px;
  border-style: solid;
  border-color: #000000;
}

#customer-search-label {
  color: #ffffff;
}
