<label id="customer-search-label" for="searchId">Enter Customer ID</label>
<input
  id="customer-search-id"
  name="searchId"
  type="number"
  (keyup)="onKey($event)"
/>
<button class="item-button" id="fetch-button" (click)="getCustomer()">
  Get Customers
</button>
<div class="item-customer" *ngIf="customer !== null && customer !== undefined">
  <p>Forename: {{ customer.firstName }}</p>
  <p>Surname: {{ customer.lastName }}</p>
  <p>Email: {{ customer.email }}</p>
  <div class="customer-address" *ngIf="customer.addresses.length">
    <p>Address:</p>
    <div *ngFor="let address of customer.addresses">
      <p>{{ address.houseNumber }}</p>
      <p>{{ address.addressLine1 }}</p>
      <p>{{ address.addressLine2 }}</p>
      <p>{{ address.city }}</p>
      <p>{{ address.postcode }}</p>
    </div>
  </div>
</div>
