<div class="container-fluid login-container">
  <div class="row no-gutters login-row row-margins">
    <div class="col"></div>
    <div class="col-8 d-flex justify-content-center align-items-center">
      <form class="w-50" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1>Login</h1>
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            formControlName="username"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && usernameGroup.errors }"
          />
          <div
            *ngIf="submitted && usernameGroup.errors"
            class="invalid-feedback"
          >
            <div *ngIf="usernameGroup.errors.required">
              Username is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && passwordGroup.errors }"
          />
          <div
            *ngIf="submitted && passwordGroup.errors"
            class="invalid-feedback"
          >
            <div *ngIf="passwordGroup.errors.required">
              Password is required
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>
