<div class="container-fluid signup-container">
  <div class="row no-gutters signup-row row-margins">
    <div class="col"></div>
    <div class="col-8 d-flex justify-content-center align-items-center">
      <form class="w-50" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <h1>Sign Up!</h1>
        <div class="form-row">
          <div class="form-group col">
            <label for="firstName">First Name</label>
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && firstNameGroup.errors
              }"
            />
            <div
              *ngIf="submitted && firstNameGroup.errors"
              class="invalid-feedback"
            >
              <div *ngIf="firstNameGroup.errors.required">
                First Name is required
              </div>
            </div>
          </div>
          <div class="form-group col">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              formControlName="lastName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && lastNameGroup.errors }"
            />
            <div
              *ngIf="submitted && lastNameGroup.errors"
              class="invalid-feedback"
            >
              <div *ngIf="lastNameGroup.errors.required">
                Last Name is required
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="username">Username</label>
            <input
              type="text"
              formControlName="username"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && usernameGroup.errors }"
            />
            <div
              *ngIf="submitted && usernameGroup.errors"
              class="invalid-feedback"
            >
              <div *ngIf="usernameGroup.errors.required">
                Username is required
              </div>
              <div *ngIf="usernameGroup.errors.minlength">
                Username must be at least 3 characters
              </div>
              <div *ngIf="usernameGroup.errors.maxlength">
                Username must be less than 21 characters
              </div>
            </div>
          </div>
          <div class="form-group col">
            <label for="email">Email</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && emailGroup.errors }"
            />
            <div
              *ngIf="submitted && emailGroup.errors"
              class="invalid-feedback"
            >
              <div *ngIf="emailGroup.errors.required">
                Email is required
              </div>
              <div *ngIf="emailGroup.errors.email">
                Email is invalid
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="houseNumber">House Number:</label>
          <input
            type="text"
            formControlName="houseNumber"
            class="form-control"
            placeholder="Enter your house/flat number"
            [ngClass]="{ 'is-invalid': submitted && houseNumberGroup.errors }"
            id="houseNumber"
          />
          <div
            *ngIf="submitted && houseNumberGroup.errors"
            class="invalid-feedback"
          >
            <div *ngIf="houseNumberGroup.errors.required">
              House/Flat number is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="addressLine1">Address Line 1:</label>
          <input
            type="text"
            formControlName="addressLine1"
            class="form-control"
            placeholder="Enter your address"
            [ngClass]="{ 'is-invalid': submitted && addressLine1Group.errors }"
            id="addressLine1"
          />
          <div
            *ngIf="submitted && addressLine1Group.errors"
            class="invalid-feedback"
          >
            <div *ngIf="addressLine1Group.errors.required">
              Address line 1 is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="addressLine2">Address Line 2:</label>
          <input
            type="text"
            formControlName="addressLine2"
            class="form-control"
            placeholder="Enter your address"
            [ngClass]="{ 'is-invalid': submitted && addressLine2Group.errors }"
            id="addressLine2"
          />
          <div
            *ngIf="submitted && addressLine2Group.errors"
            class="invalid-feedback"
          >
            <div *ngIf="addressLine2Group.errors.required">
              Address line 2 is required
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="town">City:</label>
            <input
              type="text"
              formControlName="city"
              class="form-control"
              placeholder="Enter your city/town"
              [ngClass]="{ 'is-invalid': submitted && cityGroup.errors }"
              id="city"
            />
            <div *ngIf="submitted && cityGroup.errors" class="invalid-feedback">
              <div *ngIf="cityGroup.errors.required">
                City is required
              </div>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="postcode">Postcode:</label>
            <input
              type="text"
              formControlName="postcode"
              class="form-control"
              placeholder="Enter your postcode"
              [ngClass]="{ 'is-invalid': submitted && postcodeGroup.errors }"
              id="postcode"
            />
            <div
              *ngIf="submitted && postcodeGroup.errors"
              class="invalid-feedback"
            >
              <div *ngIf="postcodeGroup.errors.required">
                Postcode is required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && passwordGroup.errors }"
          />
          <div
            *ngIf="submitted && passwordGroup.errors"
            class="invalid-feedback"
          >
            <div *ngIf="passwordGroup.errors.required">
              Password is required
            </div>
            <div *ngIf="passwordGroup.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">
          Sign Up
        </button>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>
